body {
    background-image: url('/media/images/dark-blue-background.jpg');
    font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 10px;
}

dd {
    margin-left: 40px;
}

#container {
    background-color: white;
}

#header {
    width: 960px;
    margin-left: 0;
    margin-right: 0;
}

#header h1 {
    padding: 10px;
    margin: 0px;
}

#menu_bar {
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 960px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #BBCCFF;
}

#menu_list {
    margin-bottom: 6px;
    margin-top: 6px;
}

.menu_topic {
    display: inline;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    padding: 12px 10px 13px;
}

#content {
    margin-top: 5px;
    padding-top: 5px;
}

#footer {
    border: 0;
    border-top: 1px solid black;
    width: 960px;
    margin-left: 0;
    margin-right: 0;
}

#footer p {
    margin: 5px;
    padding: 4px;
}