{% extends "base.html" %}
{% block content %}


<h3>Sources:</h3>
<dl>
  <dt>Background Image</dt>
  <dd>A modified version of: <a href="http://www.flickr.com/photos/crystalwriter/491905055/in/photostream/">Lotsa Blue in Dark Blue Honeycomb</a> by <a href="http://www.flickr.com/photos/crystalwriter/">Crystal A Murray</a></dd>
  <dt>Recipes</dt>
  <dd>All recipes are my own unless otherwise stated. If I source a recipe that you own, and would like removed from this site: Please contact me and provide proof of ownership and I will remove it as soon as possible.</dd>
</dl>


{% endblock %}
