{% load webdesign %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block html_header %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/media/css/reset.css" />
    <link rel="stylesheet" href="/media/css/text.css" />
    <link rel="stylesheet" href="/media/css/960.css" />
    <link rel="stylesheet" href="/media/css/base.css" />
    <title>Wraithan's Food Blog!</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9867191-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock %}
  </head>
  <body>
    <div class="container_12" id="container">
      <div class="grid_12" id="header">
	<h1>Wraithan's Food Blog!</h1>
      </div>
      <div class="grid_12" id="menu_bar">
	<ul id="menu_list">
	  <li class="menu_topic"><a href="{% url index %}">Home</a></li>
	  <li class="menu_topic"><a href="{% url about %}">About</a></li>
	  <li class="menu_topic">Archives</li>
	  <li class="menu_topic">Recipes</li>
	</ul>
      </div>
      <div class="grid_9" id="content">
	{% block content %}{% endblock %}
      </div>
      <div class="grid_3" id="side_bar">
	<h3>Latest Entries</h3>
	<ul>
	  {% for entry in sidebar_latest_entries %}
	  <li>{{ entry.name }}</li>
	  {% endfor %}
	</ul>
      </div>
      <div class="grid_12" id="footer">
	<p>&copy;Chris McDonald &ndash; Powered by <a href="http://github.com/wraithan/reciblog">reciblog</a> which is licensed under the <a href="http://github.com/wraithan/reciblog/raw/HEAD/LICENSE">simplified BSD license</a>.</p>
      </div>
      <div style="clear:both"></div>
    </div>
  </body>
</html>
